@import '@/assets/default';
@import '@/assets/schemeVariables.css';

body {
  color: var(--main);
  background-color: var(--background);
}

a {
  color: var(--accent);
  text-decoration: none;
}

button, a.black {
  color: var(--main);
}

#app {
  font-family: 'Montserrat', Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}

.button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  border-radius: 10px;
  background: var(--accent);
  box-shadow: 0 10px 20px rgba(var(--accent), 0.2);

  &.outline {
    background-color: transparent;
    font-weight: 600;
    outline: 2px solid;
    color: var(--accent);

    &.red {
      color: var(--red);
    }
  }
}

.label {
  margin-left: 10px;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 15px;
  color: var(--main);
  opacity: 0.75;
  display: block;
  width: fit-content;
}

.input {
  background: var(--input-background);
  border: var(--input-border);
  border-radius: 10px;
  padding: 11px 14px;
  width: 100%;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  outline: none;

  &:focus {
    border-color: var(--accent);
  }
}

input[type='checkbox'] {
}
