@import '@/assets/default';
@import '@/assets/schemeVariables';

body {
  color: var(--text);
  background-color: var(--background);
}

button, a {
  color: var(--text);
}

a {
  text-decoration: none;
}

#app {
  font-family: 'Montserrat', Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}
